
:root {

    /* clr = color */
    --clr-bg: #f5f5f5;
    --clr-text: #413F45;
    --clr-hr: #a11c26;
    --clr-acc: #E6DCBF;
}   
* {
        margin: 0;
        font-family: "raleway", sans-serif;
        font-weight: 400;
        font-style: normal;
        box-sizing: border-box;
        border-radius: 10px;
    }

    body {
        background-color: #f5f5f5;
    }
   /* ---------- HEADER + NAVBAR START ------------ */

.logo-img {
    height: 65px;
  }
  
  .top-nav{
    display: grid;
    grid-template-columns: repeat(5, 150px);
    justify-content: space-around;
    align-items: center;
    grid-gap: 10px;
    height: 100px;
    text-align:center;
    font-family: "raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .top-nav a{
    padding-top: 10px;
    transition: 0.4s;
    text-decoration: none;
    text-align:center;
    width: 100px;
  }
  
  .navbar {
    color: #413f45;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .button:hover {
    background-color: #e6dcbf;
    border-radius: 35px;
    cursor: pointer;
  }
  
  
  .button {
      color: #413f45;
      padding: 0 8px;
      font-size: 16px;
      height: 50px;
      border: none;
      background-color:#f5f5f5 ;
      font-family: "raleway", sans-serif;
      font-weight: 400;
      font-style: normal;
  }
  
  div[data-hero-wrapper] {
    filter: opacity(50%);
  }
  
  img[data-hero-img] {
    width: 100%;
  }
  
  /* ---------- HEADER + NAVBAR END ------------ */

    .wrapper 
    {
        display: grid;
        justify-content: center;
        margin-top: 5%;
        background-image: url(../img/form-texture-1x.png);
      
    }

    .popupkasse
    {
        box-sizing: content-box;
        width: 1000px;
        border-radius: 10px;
        box-shadow:5px 5px 5px 5px lightgrey;
        background-color: #fff;
        display:flex;
       
       margin-bottom: 5px;
        
    }

    .img-k 
    {
         width: 400px;
         margin-top: 20px;
         padding-right: 30px;
         
    }

    .vl {
        border-left: 4px solid #a11c26;
        height: 700px;
        position: absolute;
        left: 50%;
      position: flex;
        margin-top: 200px;
        top: 0;
    }

      /* ------------- HR -------------- */

    hr[data-hr] {
        border: 2px solid var(--clr-hr);
        width: 50%;
        margin-top: 5px;
    }

/*----------opsætning checkout---------*/
.checkout-subscribe-wrap
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
    gap: 50px;
}

.bruger-oplysning,
.kort-oplysning 
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
}

.customer-name {
    display: none;
}

/*----------styling checkout---------*/

.overskrift
{
    margin: 45px;
}


/*----------styling køb knap---------*/
.buy-btn
{
border-radius: 15px;
width: 100px;
background-color: #413f45;
color: #fff;
margin-bottom: 60px;
}
