html


   * {
        margin: 0;
        font-family: "raleway", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    body {
        background-color: #f5f5f5;
    }
    .text-box
    {
        text-align: center;
        padding-left: 50%;
        padding-right: 50%;
        font-size: 50px;
        margin-top: 20%;

        font-family: "raleway", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .underskrift
    {
        text-align: center;
        padding-left: 20%;
        padding-right: 20%;
        font-size:16px;
        margin-top: 1%;
    }


    .kasse-wrapper 
    {
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 350px));
        justify-content: center;
        margin-top: 5%;
      

    }
    .kasse 
    {
        box-sizing: content-box;
        border-radius: 10px;
        grid-template-columns: max-content;
        padding-left: 5%;
        padding-right: 5%;
        justify-self:center;
        margin: 15%;
    
        box-shadow:5px 5px 5px 5px lightgrey;
        background-color: #fff;
        perspective: 1000px;
        height: 450px;
    }

    .img-kasse {
         width: 150px;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 25%;
    }

    .h3 {
        text-align: center;

    }
    .p {
        text-align: center;
        justify-content: center;
        padding-left: 20%;
        padding-right: 20%;

    }

    .h4 {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .btn {
  padding-left: 20px;
  padding-right: 20px;
 background-color: #413f45;
  box-shadow: 5px 5px 5px lightgray;
  width: 70px;
  border-radius: 10px;
  color: #fff;
}