#overlay {
    position: fixed;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    z-index: 9999;
    display: none;
    width: 90%;
    max-width: 90%;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 35px;
}

.mix-wrapper {
    margin: 50px 100px 100px 100px;
    padding: 50px 120px 150px 120px;
    background-color: #ffffff;
    border-radius: 35px;
}

.luk img {
    width: 90px;
    height: auto;
    float: right;
    margin-right: -200px;
    margin-top: -80px;
}

.luk:hover {
    cursor: pointer;
}

.overskrift {
    text-align: center;
    margin: 40px 40px;
}

.overskrift h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

.overskrift p {
    line-height: 26px;
    font-size: 18px;
}

.retter {
    display: grid;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
    margin-bottom: 130px;
    grid-template-columns: repeat(3, 350px);
}

.retter h6 {
    font-size: 18px;
    margin-top: -5px;
}

.retter p {
    font-size: 16px;
    line-height: 23px;
    margin-top: 8px;
    text-align: left;
}

.retter a {
    text-decoration: none;
    background-color: #413F45;
    color: #ffffff;
    border-radius: 20px;
    padding: 5px 30px;
    box-shadow: 1px 1px 15px 2px lightgrey;
    font-size: 18px;
    margin-top: 10px;
}

.ret-2 a:hover {
    font-size: 19px;
}

.ret-1 {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ret-1 h6 {
    margin-left: -70px;
}

.ret-1 p {
    margin-left: -22px;
}

.ret-2 {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ret-2 h6 {
    margin-left: -20px;
}

.ret-2 p {
    margin-left: -20px;
}

.ret-3 {
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ret-3 h6 {
    margin-left: -110px;
}

.ret-3 p {
    margin-left: 31px;
}

.mad {
    width: 400px;
}


/* Bestil */
.bestil {
    text-align: center;
}

.bestil h3 {
    font-size: 25px;
    margin-bottom: 50px;
}

.knap {
    display: flex;
    justify-content:center;
}

#pers1 {
    background-color: #fff;
    color: #413F45;
    border-radius: 15px 0px 0px 15px;
    padding: 10px;
    padding-left: 15px;
    box-shadow:1px 1px 10px lightgrey;
}

#pers2 {
    background-color: #413F45;
    color: #ffff;
    box-shadow:1px 1px 10px lightgrey;
    border-radius: 0px 15px 15px 0px;
    padding: 10px 8px 10px 4px;
}

#pers1:hover, #pers2:hover {
    cursor: pointer;
}

.streg {
    border-left: 2px solid #BD1622;
    height: 350px;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    margin-top: 50px;
}

.valg {
    display: flex;
    margin-top: 55px;
}

.valg > div {
    width: 50%;
}

.engangs {
    margin-right: 70px;
}

.abonnement {
    margin-left: 70px;
}

.engangs , .abonnement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valg h3 {
    margin-bottom: 10px;
}

.valg b {
    color: #BD1622;
    text-decoration-line: underline;
}

.valg h6 {
    font-size: 20px;
    margin-top: 10px;
}

.koeb {
    background-color: #413F45;
    color: #ffffff;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 1px 1px 15px 2px lightgrey;
    font-size: 18px;
    margin-top: 15px;
    width: 20%;
}

.koeb:hover {
    font-size: 19px;
}