#overlayramen {
    position: fixed;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    z-index: 9999;
    display: none;
    width: 90%;
    max-width: 90%;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 35px;
}

.opskrift-wrapper {
    margin: 0px 100px 100px 100px;
    padding: 50px 50px;
    background-color: #ffffff;
    border-radius: 35px;
}

.tilbage img {
    width: 8%;
    float: left;
    margin-left: -120px;
    margin-top: -10px;
}

.overskrift {
    text-align: center;
}

.overskrift h1 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: -70px;
}

.overskrift p {
    line-height: 24px;
}

.ingredienser h3 {
    font-size: 27px;
}

 .ingredienser h6 {
    font-size: 17px;
    margin-top: 12px;
 }

 .ingredienser li{
    list-style-type: none;
    margin-left: 10px;
    padding-top: 6px;
 }

aside {
    width: 70%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
}

aside h6 {
    float: right;
    font-size: 17px;
}

#ramen-kylling {
    width: 90%;
    border: solid lightgrey 1px;
    float: right;
}

.fremgang h3 {
    font-size: 27px;
    margin-top: 70px;
}

.fremgang p {
    line-height: 30px;
    margin-top: 10px;
}
